pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Check Environment",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().TriggerName,'PROD')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set DEV Db Namr",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Wake_DB_Name",
								"value": {
									"value": "@pipeline().parameters.wake_dev_db_name",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set PROD DbName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Wake_DB_Name",
								"value": {
									"value": "@pipeline().parameters.wake_prod_db_name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Injest Student Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check Environment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Student",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Grade",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Grade",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceFile",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Students.csv",
							"Directory": {
								"value": "@concat(pipeline().TriggerName, '\\','Source')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable",
						"type": "DatasetReference",
						"parameters": {
							"DB_Name": {
								"value": "@variables('Wake_DB_Name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Remove Duplicates",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Injest Student Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[RemoveDuplicates]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DbName": "@variables('Wake_DB_Name')"
					}
				}
			}
		],
		"parameters": {
			"wake_prod_db_name": {
				"type": "string",
				"defaultValue": "Wakeschool_PROD"
			},
			"wake_dev_db_name": {
				"type": "string",
				"defaultValue": "Wakeschool_DEV"
			}
		},
		"variables": {
			"Wake_DB_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}