pipeline/Student Data.json
{
	"name": "Student Data",
	"properties": {
		"activities": [
			{
				"name": "Injest Student File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Student",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StudentId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Student_ID",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "Address1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Street",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State",
									"type": "String",
									"physicalType": "nchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceFile",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Students.csv",
							"Directory": {
								"value": "@concat(variables('environment'), '/Source')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable",
						"type": "DatasetReference",
						"parameters": {
							"DB_Name": {
								"value": "@concat('Wakeschool_',variables('environment'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Environment",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "TriggerName",
						"value": "@pipeline().TriggerName"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(pipeline().TriggerName, 'Manual'), equals(pipeline().TriggerName, 'Sandbox'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Trigger Env",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "environment",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Manual",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "environment",
								"value": "DEV"
							}
						}
					]
				}
			},
			{
				"name": "Remove Duplicates",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Injest Student File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[RemoveDuplicates]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DbName": "@concat('Wakeschool_',variables('environment'))"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Environment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"method": "GET"
				}
			}
		],
		"variables": {
			"environment": {
				"type": "String"
			}
		},
		"annotations": []
	}
}